supermarket-knife.md

.idea/
.iml/
.chef/
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
*.env

*.old

# Don't save any iso images
*.iso
*.pyc
