[Unit]
Description=Ceph RESTful API for admin purposes
After=network-online.target local-fs.target
Wants=network-online.target local-fs.target

[Service]
Type=Notify
ExecStart=/usr/bin/python /bin/ceph-rest-api
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
