[Unit]
Description=Ceph RESTful API for admin purposes

[Service]
Type=Simple
ExecStart=/usr/bin/python /bin/ceph-rest-api
ExecReload=/bin/kill -HUP $MAINPID
#Restart=always

[Install]
WantedBy=default.target
